<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Web creada por Juan Herreros Elorza</p>
    <img src="foto.png" alt="Foto de JH">
    <p><a href="/">Volver al inicio</a></p>
  </body>
  <footer><a href="http://www.github.com/jherreros/quiz">Proyecto en GitHub</a></footer>
</html>
